<div id="current-user">
	<div id="current-id">{{.User.Id}}</div>
	<div id="current-username">{{.User.UserName}}</div>
	<div id="current-fullname">{{.User.FullName}}</div>
</div>
<form id="update-user" action="/admin/users/{{.User.UserName}}" method="post">
	<input name="username" type="text" placeholder="New username">
	<input name="full_name" type="text" placeholder="New full name">
	<input name="password" type="password" placeholder="New password">
	<button type="submit">Submit</button>
</form>
