<title>{{.PageTitle}}</title>
<nav>
	<div id="left">
		<a class="rm" id="title" href="/">
			<img src="/assets/favicon.ico" />
			<span>{{.Settings.NavHome}}</span>
		</a> 
		<a class="rm" href="/articles">articles</a> 
		<a class="rm" href="/series">series</a>
	</div>
	<div id="right">
		{{range $link := .Settings.NavLinks}}
		<a href="{{$link.Href}}">
			<span>{{$link.Text}}</span>
			<img class="dark" src="{{$link.ImageSrcDark}}" alt="{{$link.ImageAltText}}" />
			<img class="light" src="{{$link.ImageSrcLight}}" alt="{{$link.ImageAltText}}" />
		</a>
		{{end}}
	</div>
</nav>
<div id="{{.PageId}}" class="body-inner">
	{{embed}}
</div>
