<title>{{.PageTitle}}</title>
<nav>
	<div id="left">
		<a id="title" href="/">
			<img src="/assets/favicon.ico" />
			<span>{{.Settings.NavHome}}</span>
		</a> 
		<a href="/articles">articles</a> 
		<a href="/series">series</a>
	</div>
	<div id="right">
		{{range $link := .Settings.NavLinks}}
		<a href="{{$link.Href}}">
			<span>{{$link.Text}}</span>
			<img src="{{$link.ImageSrc}}" alt="{{$link.ImageAltText}}" />
		</a>
		{{end}}
	</div>
</nav>
<div id="{{.PageId}}" class="body-inner">
	{{embed}}
</div>
